{% extends "base.html" %}

{% block title %}Check List{% endblock %}

{% block extra_head %}
<script src="/static/core/js/angular_controllers/check_list.js"></script>
{% endblock %}

{% block content %}

 <div class="navbar navbar-default">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".checks-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <span class="navbar-brand">Checks</span>
  </div>
  <div class="collapse navbar-collapse checks-navbar-collapse">
   <div class="navbar-right">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" href="#new_check"><span class="glyphicon glyphicon-plus"></span> New Check</button>
   </div>
   <form class="navbar-form navbar-right">
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
     </span>
     <input type="text" class="form-control" placeholder="Search">
    </div>
   </form>
  </div>
 </div>


 <div class="modal fade" id="new_check" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title">New Check</h4>
    </div>
    <div class="modal-body">
     <p>New check form here!</p>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     <button type="button" class="btn btn-primary">Create</button>
    </div>
   </div>
  </div>
 </div>

 <table class="table table-striped" ng-controller="CheckListCtrl">
  <thead>
   <tr>
    <th>Name</th>
    <th>State</th>
    <th></th>
   </tr>
  </thead>
   <tbody>
    {% verbatim %}
    <tr ng-repeat="check in checks">
     <td>
      <a href="{{ check.url }}">{{ check.name }}</a>
     </td>
     <td style="text-transform: uppercase" class="{{ check.class }} text-{{ check.class }}"><b>{{ check.state }}</b></td>
     <td style="text-transform: uppercase" class="{{ check.class }} text-{{ check.class }}"><b>{{ check.data }}</b></td>
    </tr>
    {% endverbatim %}
  </tbody>
 </table>
{% endblock %}
