{% extends "base.html" %}

{% block title %}Check List{% endblock %}

{% block extra_head %}
<script src="/static/core/js/angular_controllers/check_list.js"></script>
{% endblock %}

{% block content %}

 <div class="navbar navbar-default">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".checks-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <span class="navbar-brand">Problems</span>
  </div>
  <div class="collapse navbar-collapse checks-navbar-collapse">
   <div class="navbar-right">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
   </div>
   <form class="navbar-form navbar-right">
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
     </span>
     <input type="text" class="form-control" placeholder="Search">
    </div>
   </form>
  </div>
 </div>

 <p>List of problems will go here</p>
{% endblock %}
