{% extends "base.html" %}
{% load humanize %}

{% block title %}Check List{% endblock %}

{% block checks_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <h3 class="pull-right" style="margin-top: 20px;">
  <a href="/checks/ok/" class="label status-label-ok">0</a>
  <a href="/checks/warning/" class="label status-label-warning">0</a>
  <a href="/checks/critical/" class="label status-label-critical">0</a>
  <a href="/checks/unknown/" class="label status-label-unknown">0</a>
  <a href="/checks/disabled/" class="label status-label-disabled">0</a>
  
  <div class="btn-group">
   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span> Create <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu">
    <li><a href="/checks/create/">Check</a></li>
    <li><a href="/checks/groups/create/">Group</a></li>
   </ul>
  </div>
 </h3>

 <h3>Checks</h3>

 {% for group in group_list %}
  <div style="padding-left: 20px;">
   <h4>{{ group }} <sup><a href="{{ group.get_absolute_url }}">Info</a></sup></h4>
   
   {% for check in group.check_set.all %}
    {% if forloop.first %}
     <table class="table table-striped">
      <thead>
       <tr>
        <th style="width: 40%">Name</th>
        <th style="width: 10%">Status</th>
        <th style="width: 25%">Info</th>
        <th style="width: 25%">Last checked</th>
       </tr>
      </thead>
      <tbody>
     {% endif %}
     
     <tr>
      <td>
       <a href="{{ check.get_absolute_url }}">{{ check }}</a>
      </td>
      
      <td style="padding-top: 3px;">
       <h4 style="margin: 0;"><span class="label status-label-{{ check.get_status }}" style="text-transform: uppercase">{{ check.get_status }}</span></h4>
      </td>
      
      {% if check.get_status != "unknown" and check.get_status != "disabled" %}
       {% with check.get_last_result as result %}
        <td>
         {{ result.status_text }}
        </td>
        <td>
         {{ result.time|naturaltime }}
        </td>
       {% endwith %}
      {% else %}
       <td>N/A</td><td>N/A</td>
      {% endif %}
     </tr>
     
     {% if forloop.first %}
      </tbody>
      </table>
     {% endif %}
   {% empty %}
    <p>There are no checks in this group</p>
   {% endfor %}

  </div>

  {% if not forloop.last %}<hr>{% endif %}
 {% endfor %}
{% endblock %}
