{% extends "base.html" %}
{% load check_tags %}

{% block title %}Check: {{ check }}{% endblock %}

{% block checks_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 {% with check.status as status %}
  <h3 class="pull-right" style="margin-top: 20px;">
   <a href="{{ check.get_absolute_url }}update/" class="label label-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
   <a href="{{ check.get_absolute_url }}delete/" class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
  </h3>

  <h3>Check: {{ check }} <sup><span class="label status-label-{% status_name check status %}" style="text-transform: uppercase;">{% status_name check status %}</span></sup></h3>
  <p>URL: {{ check.url }}</p>
 {% endwith %}
{% endblock %}
