{% extends "base.html" %}

{% block title %}Check Detail{% endblock %}

{% block content %}
 
 <div class="row">
  <div class="col-lg-9">
   <h3>{{ check }} <sup><span class="label label-default" style="text-transform: uppercase;">{{ check.get_status }}</span></sup></h3>
   <p>URL: {{ check.url }}</p>
  
  </div>
  <div class="col-lg-3">
   <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
   <button type="button" class="btn btn-primary navbar-btn" onclick="javascript:window.location='{{ check.get_absolute_url }}update/';"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
   <button type="button" class="btn btn-danger navbar-btn" onclick="javascript:window.location='{{ check.get_absolute_url }}delete/';"><span class="glyphicon glyphicon-remove"></span> Delete</button>
  </div>
 </div>
{% endblock %}
