{% extends "base.html" %}

{% block title %}Check List{% endblock %}

{% block content %}

 <div class="navbar navbar-default">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".checks-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <span class="navbar-brand">Checks</span>
  </div>
  <div class="collapse navbar-collapse checks-navbar-collapse">
   <button type="button" class="btn btn-primary navbar-btn navbar-right"><span class="glyphicon glyphicon-plus"></span> New Check</button>
  </div>
 </div>

 <table class="table">
  <thead>
   <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
   </tr>
  </thead>
   <tbody>
   {% for check in check_list %}
    <tr>
     <td>
      <a href="{{ check.get_child.get_absolute_url }}">{{ check.get_child.type_name }}: {{ check.get_child }}</a>
     </td>
     <td class="text-success"><b>UP</b></td>
     <td></td>
    </tr>
   {% endfor %}
  </tbody>
 </table>
{% endblock %}
