{% extends "base.html" %}

{% block title %}Monitor List{% endblock %}

{% block extra_head %}
<script src="/static/monitoring/js/angular_controllers/monitor_list.js"></script>
{% endblock %}

{% block content %}

 <div class="navbar navbar-default">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".monitors-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <span class="navbar-brand">Monitors</span>
  </div>
  <div class="collapse navbar-collapse monitors-navbar-collapse">
   <div class="navbar-right">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" href="#new_monitor"><span class="glyphicon glyphicon-plus"></span> New Monitor</button>
   </div>
   <form class="navbar-form navbar-right">
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
     </span>
     <input type="text" class="form-control" placeholder="Search">
    </div>
   </form>
  </div>
 </div>


 <div class="modal fade" id="new_monitor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title">New Monitor</h4>
    </div>
    <div class="modal-body">
     <div id="new-monitor-form">Loading...</div>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     <button type="button" class="btn btn-primary">Create</button>
    </div>
   </div>
  </div>
 </div>

 <table class="table table-striped">
  <thead>
   <tr>
    <th>Name</th>
    <th colspan="2">State</th>
   </tr>
  </thead>
   <tbody>
    {% for monitor in monitor_list %}
     {% with monitor_state=monitor.get_state %}
      <tr>
       <td>
        <a href="{{ monitor.get_absolute_url }}">{{ monitor }}</a>
       </td>
       <td style="text-transform: uppercase"><b>
        <span class="text-{{ monitor_state.status_bootstrap_class }}">{{ monitor_state.status }}</span>
       <td style="text-transform: uppercase">
        <b>
         {% if monitor_state.check_statuses.ok > 0 %}
         <a href="{{ monitor.get_absolute_url }}checks/ok/" class="label label-success">{{ monitor_state.check_statuses.ok }}</a>
         {% endif %}
         {% if monitor_state.check_statuses.warning > 0 %}
         <a href="{{ monitor.get_absolute_url }}checks/warning/" class="label label-warning">{{ monitor_state.check_statuses.warning }}</a>
         {% endif %}
         {% if monitor_state.check_statuses.critical > 0 %}
         <a href="{{ monitor.get_absolute_url }}checks/critical/" class="label label-danger">{{ monitor_state.check_statuses.critical }}</a>
         {% endif %}
         {% if monitor_state.check_statuses.unknown > 0 %}
         <a href="{{ monitor.get_absolute_url }}checks/unknown/" class="label label-primary">{{ monitor_state.check_statuses.unknown }}</a>
         {% endif %}
         {% if monitor_state.check_statuses.disabled > 0 %}
         <a href="{{ monitor.get_absolute_url }}checks/disabled/" class="label label-default">{{ monitor_state.check_statuses.disabled }}</a>
         {% endif %}
        </b>
       </td>
      </tr>
     {% endwith %}
    {% endfor %}
  </tbody>
 </table>
{% endblock %}
