{% extends "base.html" %}

{% block title %}Problem List{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <div class="navbar navbar-default">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".problems-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <span class="navbar-brand">Problems</span>
  </div>
  <div class="collapse navbar-collapse problems-navbar-collapse">
   <div class="navbar-right">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
   </div>
   <form class="navbar-form navbar-right">
    <div class="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
     </span>
     <input type="text" class="form-control" placeholder="Search">
    </div>
   </form>
  </div>
 </div>

 <table class="table table-striped">
  <thead>
   <tr>
    <th>Name</th>
   </tr>
  </thead>
   <tbody>
    {% for problem in problem_list %}
     <tr>
      <td>
       <a href="{{ problem.get_absolute_url }}">{{ problem }}</a>
      </td>
     </tr>
    {% endfor %}
  </tbody>
 </table>
{% endblock %}
