{% extends "base.html" %}

{% block title %}Problem List{% endblock %}

{% block problems_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <h3 class="pull-right" style="margin-top: 20px;">
   <a href="/problems/resolved/" class="label problem-status-label-resolved">0</a>
   <a href="/problems/acknowledged/" class="label problem-status-label-acknowledged">0</a>
   <a href="/problems/unhandled/" class="label problem-status-label-unhandled">0</a>
 </h3>
 
 <h3>Problems</h3>

 <table class="table table-striped">
  <thead>
   <tr>
    <th style="width: 40%">Name</th>
    <th style="width: 20%">Status</th>
    <th style="width: 20%">Start Time</th>
    <th style="width: 20%">End Time</th>
   </tr>
  </thead>
   <tbody>
    {% for problem in problem_list %}
     <tr>
      <td>
       <a href="{{ problem.get_absolute_url }}">{{ problem }}</a>
      </td>
      <td style="text-transform: uppercase"><b>
       <span class="problem-status-text-{{ problem.status }}">{{ problem.status }}</span>
      </b></td>
      <td>
       {{ problem.start_time }}
      </td>
      <td>
      {{ problem.end_time }}
      </td>
     </tr>
    {% endfor %}
  </tbody>
 </table>
{% endblock %}
