{% extends "base.html" %}
{% load humanize %}

{% block title %}Problem: {{ problem }}{% endblock %}

{% block problems_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <h3>Problem: {{ problem }} <sup><span class="label problem-status-label-{{ problem.get_status }}" style="text-transform: uppercase;">{{ problem.get_status }}</span></sup></h3>
 <p>More info about this problem will go here</p>
{% endblock %}
