{% extends "base.html" %}
{% load humanize %}

{% block title %}Report: {{ report }}{% endblock %}

{% block reports_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <div class="row">
  <div class="col-lg-9">
   <h3>Report: {{ report }}</h3>
  </div>
  <div class="col-lg-3">
   <button type="button" class="btn btn-primary navbar-btn" onclick="javascript:window.location='{{ report.get_absolute_url }}update/';"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
   <button type="button" class="btn btn-danger navbar-btn" onclick="javascript:window.location='{{ report.get_absolute_url }}delete/';"><span class="glyphicon glyphicon-remove"></span> Delete</button>
  </div>
 </div>
{% endblock %}
