{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Report Form{% endblock %}

{% block reports_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <h3>{% if report %}Edit {{ report }}{% else %}New Report{% endif %}</h3>

 <div style="max-width: 400px;">
  <form action="#" method="post">
   {% csrf_token %}
   {{ form|bootstrap }}
   <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
  </form>
 </div>
{% endblock %}
