{% extends "base.html" %}

{% block title %}Report List{% endblock %}

{% block reports_navitem_classes %}active{% endblock %}

{% block extra_head %}
 <link href="/static/monitoring/css/main.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
 <h3 class="pull-right" style="margin-top: 20px;">
  <a href="/reports/create/" class="label label-primary"><span class="glyphicon glyphicon-plus"></span> New Report</a>
 </h3>

 <h3>Reports</h3>

 <table class="table table-striped">
  <thead>
   <tr>
    <th>Name</th>
   </tr>
  </thead>
   <tbody>
    {% for report in report_list %}
     <tr>
      <td>
       <a href="{{ report.get_absolute_url }}">{{ report }}</a>
      </td>
     </tr>
    {% endfor %}
  </tbody>
 </table>
{% endblock %}
